.startBtn:hover,
.validBtn:hover {
    background-color: #565964;
    cursor: none;
    color: white;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.left>p {
    font-size: 1.2rem;
}